body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: rgb(40, 49, 54);
}

a {
	text-decoration: none;
}

.visually-hidden {
	display: none;
}

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

.button-pink {
	background-color: rgb(251, 86, 90);
}

.button-pink:hover,
.button-pink:focus {
	background-color: rgb(231, 66, 70);
}

.button-pink:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(215, 55, 59);
}

.button-green {
	background-color: rgb(0, 202, 116);
}

.button-green:hover,
.button-green:focus {
	background-color: rgb(0, 188, 108);
}

.button-green:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(0, 170, 98);
}

.button-yellow {
	background-color: rgb(239, 200, 74);
}

.button-yellow:hover,
.button-yellow:focus {
	background-color: rgb(234, 181, 52);
}

.button-yellow:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(229, 167, 34);
}

header,
.sliders {
	background-color: rgb(238, 236, 236);
}

.header-logo:hover,
.header-logo:focus {
	opacity: 0.8;
}

.header-logo:active {
	opacity: 0.3;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color: #000000; 
	text-transform: uppercase;
}

.site-navigation,
.user-block {
	list-style: none;
}

.site-navigation a,
.user-block a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-block a:hover,
.user-block a:focus {
	color: rgb(251, 86, 90);
}

.sliders h2 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.sliders p {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.features-list {
	list-style: none;
}

.features-item {
	text-align: center;
}

.features-item h3 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.features-item p {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.column-1 .promo {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: bold;
}

.column-1 p {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.column-1 b {
	color: #000000;
	text-transform: uppercase;
}

.column-2 b {
	color: #000000;
	text-transform: uppercase;
}

.column-2 dd {
	font-size: 45px;
	line-height: 10.06px;
	color: #000000;
	font-weight: bold;
}

.column-2 dt {
	font-size: 16px;
	line-height: 48px;
	color: #283136;
}

.clients-list {
	list-style: none;
}

.clients-item a{
	opacity: 0.2;
}

.clients-item a:hover,
.clients-item a:focus {
	opacity: 1;
}

.clients-item a:active {
	opacity: 0.1;
}

.contacts span {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.contacts p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;

}

.social ul {
	list-style: none;
}

.slogan b {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	font-weight: bold;
}

.slogan p {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

.write-us h2 {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	text-transform: uppercase;
}

.write-us-form label {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	font-weight: bold;
}

.write-us-form input {
	font: inherit;
	background-color: transparent;
	border: 2px solid #d7dcde;
}
 .write-us-form input:hover {
 	border-color: #b4b9bb;
 }

.write-us-form input:focus {
	border-color: #000000;
}

.write-us-form button {
	background-color: rgb(251, 86, 90);
}

.write-us-form button:hover,
.write-us-form button:focus {
	background-color: rgb(231, 66, 70);
}

.write-us-form button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(215, 55, 59);
}

.write-us-form .modal-close {
	background-color: #ffffff;
	border: none;
	opacity: 0.3;
}

.write-us-form .modal-close:hover,
.write-us-form .modal-close:focus {
	opacity: 1;
}

.write-us-form .modal-close:active {
	opacity: 0.1;
}

.main-header h1 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	text-align: center;
}

fieldset {
	border: none;
}

.filters legend {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.filters ul{
	list-style: none;
}

.filter-option {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}

.filters button {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	background-color: #eeeeee;
}

.filters button:hover,
.filters button:focus {
	background-color: #dfdfdf;
}

.filters button:active {
	background-color: #d5d5d5;
}

.catalog ul {
	list-style: none;
}

.sorting b {
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.sorting a {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	opacity: 0.3;
}

.sorting a:hover,
.sorting a:focus {
	opacity: 0.6;
}

.sorting a:active,
.sorting .current {
	opacity: 1;
}
.catalog-item {
	text-align: center;
}

.pop-up-item {
	background-color: #eeeeee;
}

.pop-up-item h4 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.pop-up-item p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.browser {
	opacity: 0.12;
}

.browser:hover,
.browser:focus {
	opacity: 1;
}

.pagination-item a {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #b5b5b5;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
}
